<html>

<head id="Head1">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7947746088338356"
     crossorigin="anonymous"></script>
    <title> Attendance </title>
    <style type="text/css">
        <!-- .input_loginBlue { FONT-SIZE: 10px; COLOR: #0033CC; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; HEIGHT: 16px; border: 1px solid #CCCCCC; } .style11 {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #4E7CC9; } .style19 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FC3A00; } #Table_01 tr td table tr td #Table_2 tr td table { color: #B41400; } .style21 { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #B41400; } .style22 {color: #FFFFFF} .newsBG {  background-repeat:repeat-x; color:White; height:26px; } 
        -->
    </style>
    <script language="javascript"
        type="text/javascript"> $(document).bind("contextmenu", function () { return false; }); function _onEmpKeyPress() { if (event.keyCode == 13) $("#" + "imgBtn1").click(); } function _onStudentKeyPress() { if (event.keyCode == 13) $("#" + "imgBtn2").click(); } </script>
</head>

<body bgcolor="#D1DCEB" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
    onkeypress="return event.keyCode != 13;">
    <form action="" method="POST">
        {% csrf_token %}
        <center style="padding:30px">
            <td width="6%"> &nbsp;</td>
            <td width="43%" style="white-space: nowrap" class="style19"> <span class="style21">User Name</span></td>
            <td class="style11" width="1%"> :</td>
            <td width="48%"> 
            <input type="text" name="rolln" id="txtId2" class="input_loginBlue" />
             </td>
            <td width="3%"> &nbsp;</td>
            <br>
            <input id="sub" type="button" onclick="myfun()" value="submit" style="margin:10px">
        </center>
    </form>
</body>
<center>
    <script type="text/javascript">
	atOptions = {
		'key' : 'e2bc2e24f618a3ac6cce2e4533d75e77',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/e2bc2e24f618a3ac6cce2e4533d75e77/invoke.js"></scr' + 'ipt>');
</script>
    <p>
        {{data|safe}}
    </p>
	<script type='text/javascript' src='//pl22191342.toprevenuegate.com/a8/0e/a1/a80ea13880e68659a083e9d3c4409f15.js'></script>
</center>

    <script>
function myfun()
{
    alert("new url: attendance.free.nf ");
    document.getElementById("sub").type="submit";
}
</script>

</html>
